/venv
/pedido/__pycache__
/produto/__pycache__
/perfil/__pycache__
/utils/__pycache__
/pedido/email/__pycache__
/pedido/migrations/__pycache__
/produto/migrations/__pycache__
/perfil/migrations/__pycache__
/perfil/templates/email/__pycache__
/produto/templatetags/__pycache__
/agenda/__pycache__
/agenda/email/__pycache__
/agenda/email/__init__.py


loja_django/__pycache__
/imagens/

debug.log
db.sqlite3
passenger.log
produto_produto.sql
twilio_2FA_recovery_code.txt

produto/migrations/
.produto_produto.sql.kate-swp
pedido/migrations/
perfil/migrations/
agenda/migrations/
