{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% load omfilters %}

{% load static %}

{% block conteudo %}

<meta name="csrf-token" content="{{ csrf_token }}">

	<style type="text/css" >
		html, body{
			margin:0;
			padding:0;
			height:100%;
			overflow:hidden;
		}
		.yellow_section {
			background-color: #ffa749;
			opacity: 0.25;
		}
	</style>

    <div class="container d-flex vh-100" id="container" data-token="{{csrf_token}}"> 

    <div class="header largura_toda" >
        <div class="col">   
            <div class="row">
				<div id="dialog" title="Busca pessoa" style="display:none;">
					{% include 'parciais/_tabela_pessoa.html' %}
				</div>
                <div id="calendar1"></div>
            </div>
        </div>    
    </div>

</div>
{% endblock %}
